version: '3.7'

services:
  couchdb:
    image: ibmcom/couchdb3:3.0.0
    restart: always
    ports:
      - "5984:5984"
      - "5986:5986"
      - "4369:4369"
      - "9100-9200:9100-9200"
    environment:
      - COUCHDB_USER={{ database_user }}
      - COUCHDB_PASSWORD={{ database_password }}
      - NODENAME=172.17.0.2
    container_name: couch_1